Options +FollowSymlinks
RewriteEngine on
RewriteRule ^release-notes/([0-9\.]+)$ /release-notes.php?version=$1
RewriteRule ^bundles/Nightingale/([0-9\.]+)/firstrun\.xml$ /bundles.php?version=$1

Options -Indexes
