// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 6;
$column-width   : 8em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;
