/*!
 * Media-independent styles.
 */

$sidebar-item-height: 5*px2em($base-line-height);

/* -------------------------------------------------------------------------*/
/* Layout */

body {
    color: $text-color;
    background-color: $content-bg;
    
    & > .wrapper {
        width: 100%;
    }
}

.container {
    max-width: 6*$column-width+5*$gutter-width;
    width: 100%;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------
   Nav
   --------------------------------------------------------------------------*/

#headerlogo {
    position: absolute;
    bottom: -4em;
    left: -0.5%;
}

#headerlogo img {
    max-height: 9em;
    max-width: 27em;
    width: 100%;
    position: relative;
    z-index: 10;
}

#ngalemainheadwrapper .tab {
    width: 92.59%;
    height: 77.77%;
    top: 11.115%;
    left: 3.705%;
    margin-right: 3.705%;
    position: absolute;
    
    &::before,&::after {
        content: "";
        height: 70%;
        width: 10%;
        position: absolute;
        top: -.15em;
    }
    
    &::before {
        @include transform-origin(top, left, false);
        @include rotate(20deg);
        left: -.2em;
        @include border-top-left-radius(.5em);
    }
    &::after {
        @include transform-origin(top, right, false);
        @include rotate(-20deg);
        right: -.2em;
        @include border-top-right-radius(.5em);
    }
}

#birdtab {
    background: white;
    z-index: 9;
    
    &::before,&::after {
        background: white;
    }
}

#tabshadow {
    z-index: 0;
    @include single-box-shadow(0,0,.4em,.1em,$shadow);
    
    &::before,&::after {
        @include single-box-shadow(0,0,.4em,.1em,$shadow);
    }
}

#ngalemainheadwrapper header {
    position: relative;
    height: 5em;

    nav, nav ul {
        height: 100%;
    }
    nav {
        float: right;
        z-index: 2;
        position: relative;

        ul {
            @include horizontal-list-container();

            li {
                @include horizontal-list-item(false);
                height: 100%;
                @include box-sizing(border-box);

                a {
                    @include link-colors($text-color);
                    &:link, &:visited {
                        height: 100%;
                        padding-left: .4em;
                        padding-right: .4em;
                        font-size: 1.25em;
                        line-height: 4em;
                        text-decoration: none;
                        text-shadow: .08em .08em .25em $shadow;
                        text-shadow: .1rem .1rem .3rem $shadow;
                        display: block;
                        @include box-sizing(border-box);
                    }
                }
            }
            
            &.current a:link,&.current a:visited {
                border-bottom: .4em solid $orange;
            }
        }
    
    }
}

#expandngalenav {
    @include hidden();
}

/* ----------------------------------------------------------------------------
   Main content
   --------------------------------------------------------------------------*/

#wrapper {
    @include single-box-shadow(0,0,.4em,.1em,$shadow);
    
    @include padding-leader(4);
    @include padding-trailer(1);
    
    position: relative;
    z-index: 1;
}

.container img {
    max-width: 100%;
}

.bottom p {
    margin-bottom: 0;
}

#contentleft {
    max-width: $twocolumns - 2 * $gutter-width;
    margin-right: $gutter-width;
    display: inline-block;
}

#main aside {
    float: right;
}

#screenshots {
    // create a padding matching half of the download button
    padding-bottom: 2.25em + px2em($base-line-height);
    @include margin-trailer(1);
    position: relative;
    
    &>img {
        height: 100%;
        width: 100%;
    }
}

.relativecenterwrapper {
    float: left;
    left: 50%;
    position: relative;
    height: 0;

    &>.realtivecenter {
        position: relative;
        left: -50%;
        top: -2.25em;
    }
}

#downloadbutton {
    text-align: right;
    color: $light-text;
    border: 2px solid $download-start;
    @include border-radius(3px);
    background-color: $download-end;
    @include background-image(linear-gradient($download-end,$download-start));
    @include single-box-shadow(0,0,1em,.1em,#fff);
    min-height: 4.5em;
    padding: 0 1.25em;
    
    img {
        position: absolute;
        left: 1.25em;
        top: 0.8125em;
    }
    div {
        /*
        position: absolute;
        right: 1.25em;
        top: 1.0625em - px2em(($base-line-height - $base-font-size)/2);
        */
        margin-left: px2em(48px);
    }
    small {
        color: $orange;
    }
}

#moredownloadslink {
    float: right;
    font-size: .8em;
    line-height: 1em;
}


.column {
    width: $onecolumn - 2 * $gutter-width;
    float: left;
}

.column ol, .column ol>li {
    margin-left: 0;
    list-style-type: decimal;
    list-style-position: inside;
}

h3+p,h2+p,h1+p {
    margin-top: 0;
}

.normalize {
    font-size: $base-font-size;
    font-weight: normal;
}

.fullwidth {
    width: 100%;
    clear: both;
}

/* ----------------------------------------------------------------------------
   Downloads list
   --------------------------------------------------------------------------*/

.split {
    max-width: 3*$column-width+2*$gutter-width;
    min-width: 45%;
}

#downloadlist {
    @include horizontal-list($gutter-width);
    // Make sure the list items don't get overflow: hidden
    width: 100%;
    
    li:nth-child(2n+1) {
        //the horizotnal-list mixin removes the padding of the first child on the left. We need that for every second one
        padding-left: 0;
    }
}

.download {
    @include padding-leader(1);
    @include padding-trailer(1);
    height: 2*$base-line-height;
    
    cursor: pointer;
    
    a:link {
        text-decoration: none;
    }
    
    &:hover .os {
        text-decoration: underline;
    }
    
    .package {
        color: $grey-text;
    }
    
    img {
        max-height: 48px;
        max-width: 48px;
        height: 100%;
        width: 100%;
    }
}

/* ----------------------------------------------------------------------------
   Features sidebar
   --------------------------------------------------------------------------*/
#main aside {
    h2 {
        margin-top: 0;
        @include trailer(1, $h2-font-size);
    }
    
    .feature {
        min-height: $sidebar-item-height;
    }
}


.feature {
    &:not(:last-child) {
        @include padding-trailer(1);
    }
    
    img {            
        max-height: $sidebar-item-height;
        max-width: 50%;
        float: left;
        margin-right: $gutter-width;
        
        &.cover {
            max-height: 50%;
        }
    }

    figure {
        display: inline-block;
        width: 100%;
    }

    figcaption {
        font-style: normal;
        text-align: left;
    }
    
    h3 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }

}

/* ----------------------------------------------------------------------------
   Ubunut ppa overlay
   --------------------------------------------------------------------------*/
#instructions, #overlay {
    @include hidden();
}

/* ----------------------------------------------------------------------------
   Dashboard
   --------------------------------------------------------------------------*/
.dashboard-list {
    &>ul {
        @extend .plainlist;
    }
    
    .offline {
        background-color: rgb(239, 66, 66);
        color: $light-text;

        a {
            @include link-colors($light-text,
                                 $footer-text-hover,
                                 $footer-text-hover,
                                 $light-text);
        }
    }
}

.linegraph {
    max-width: 703px;
    width: 100%;
    height: 320px;
    
    .line {
        fill: none;
        stroke-width: 1.5px;
    }
    
    .axis {
        path, line {
            fill: none;
            stroke: black;
            shape-rendering: crispedges;
        }
    }
}

.piegraph {
    max-width: 240px;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    display: block;
}

#currentSection p {
    @include leader(1);
    margin-bottom: 0;
}

/* ----------------------------------------------------------------------------
   Footer
   --------------------------------------------------------------------------*/

#ngalemainfooterwrapper {
    footer {
        color: black;
        @include padding-trailer(1);
        overflow: hidden;
        
        &>div, &>nav {
            @include leader(1);
            margin-right: $gutter-width;
        
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    a {
        @include hover-link();
        @include link-colors(black, false, false, black);
    }
    
    ul {
       margin: 0; 
    }

    #socialicons {
        @include horizontal-list();
    }
    
    .socialicon {
        font-family: $icon-font-family, sans-serif;
        
        &:hover {
            text-decoration: none;
        }
    }

    h2 {
        font-size: $footer-font-size;
        margin-bottom: $footer-line-height;
        margin-top: 0;
    }
}

#footerinfo {
    @include leader(1);
    p, section {
        font-size: $footer-font-size;
        line-height: $footer-line-height;
    }
}

.footerlinks {
    font-size: $footer-font-size;
    line-height: $footer-line-height;
    float: left;
    max-width: $column-width*$footer-font-ratio;
    width: 100%;
}

#footergale {
    max-height: image-height("footergale.png");
    max-width: image-width("footergale.png");
    width: 100%;
    float: left;
}

#leftfooter {
    width: $column-width;
}

#sociallinks {
    h2 {
        float: left;
        margin-right: $gutter-width;
        margin-bottom: 0;
    }
}

#l10nselect {
    margin-top: $footer-line-height;
    font-size: $footer-font-size;
    width: 100%;
}
