/*!
 * Media-independent styles.
 */

$sidebar-item-height: 5*px2em($base-line-height);

/* -------------------------------------------------------------------------*/
/* Layout */

body>.wrapper {
    width: 100%;
}

/* ----------------------------------------------------------------------------
   Nav
   --------------------------------------------------------------------------*/

#headerlogo {
    position: absolute;
    bottom: -4em;
    left: -0.5%;
}

#headerlogo img {
    max-height: 9em;
    max-width: 27em;
    width: 100%;
    position: relative;
    z-index: 10;
}

#ngalemainheadwrapper .tab {
    width: 92.59%;
    height: 77.77%;
    top: 11.115%;
    left: 3.705%;
    margin-right: 3.705%;
    position: absolute;
    
    &::before,&::after {
        content: "";
        height: 70%;
        width: 10%;
        position: absolute;
        top: -.15em;
    }
    
    &::before {
        @include transform-origin(top, left, false);
        @include rotate(20deg);
        left: -.2em;
        @include border-top-left-radius(.5em);
    }
    &::after {
        @include transform-origin(top, right, false);
        @include rotate(-20deg);
        right: -.2em;
        @include border-top-right-radius(.5em);
    }
}

#birdtab {
    background: white;
    z-index: 9;
    
    &::before,&::after {
        background: white;
    }
}

#tabshadow {
    z-index: 0;
    @include single-box-shadow(#292929,0,0,.4em,.1em);
    
    &::before,&::after {
        @include single-box-shadow(#292929,0,0,.4em,.1em);
    }
}

#ngalemainheadwrapper header {
    position: relative;
    height: 5em;

    nav, nav ul {
        height: 100%;
    }    
    nav {
        float: right;
        z-index: 2;
        position: relative;
        
        li {
            float: left;
            height: 100%;
            @include box-sizing(border-box);

            :link,:visited {
                color: black;
                height: 100%;
                padding-left: .4em;
                padding-right: .4em;
                font-size: 1.25em;
                line-height: 4em;
                text-decoration: none;
                text-shadow: .08em .08em .25em black;
                text-shadow: .1rem .1rem .3rem black;
                display: block;
                @include box-sizing(border-box);
            }
            
            &.current a:link,&.current a:visited {
                border-bottom: .4em solid $orange;
            }
        }
    
    }
}

#expandngalenav {
    @include hidden();
}

/* ----------------------------------------------------------------------------
   Main content
   --------------------------------------------------------------------------*/

#wrapper {
    @include single-box-shadow(#292929,0,0,.4em,.1em);
    
    padding-top: 4*$base-line-height;
    //padding-bottom: $base-line-height;
    //margin-bottom: $base-line-height;
    
    position: relative;
    z-index: 1;
}
.bottom {
    padding-bottom: $base-line-height;

    p {
        margin-bottom: 0;
    }
}

#contentleft {
    max-width: $twocolumns - 2 * $gutter-width;
    margin-right: $gutter-width;
    margin-bottom: $base-line-height;
    display: inline-block;
}    

#screenshots {
    // create a padding matching half of the download button
    padding-bottom: 2.25em + px2em($base-line-height);
    margin-bottom: $base-line-height;
    position: relative;
    
    &>img {
        height: 100%;
        width: 100%;
    }
}

.relativecenterwrapper {
    float: left;
    left: 50%;
    position: relative;
    height: 0;

    &>.realtivecenter {
        position: relative;
        left: -50%;
        top: -2.25em;
    }
}

#downloadbutton {
    text-align: right;
    color: white;
    border: 2px solid #343434;
    @include border-radius(3px);
    background-color: #444444;
    @include background-image(linear-gradient(#444444,#343434));
    @include single-box-shadow(#fff,0,0,1em,.1em);
    min-height: 4.5em;
    padding: 0 1.25em;
    
    img {
        position: absolute;
        left: 1.25em;
        top: 0.8125em;
    }
    div {
        /*
        position: absolute;
        right: 1.25em;
        top: 1.0625em - px2em(($base-line-height - $base-font-size)/2);
        */
        margin-left: px2em(48px);
    }
    small {
        color: $orange;
    }
}

#moredownloadslink {
    float: right;
    font-size: .8em;
    line-height: 1em;
}


.column, .column li, .column ul {
    list-style: none;
    margin-left: 0;
}

.column ol, .column ol>li {
    margin-left: 0;
    list-style-type: decimal;
    list-style-position: inside;
}

h3+p,h2+p,h1+p {
    margin-top: 0;
}

.normalize {
    font-size: $base-font-size;
    font-weight: normal;
}

.fullwidth {
    width: 100%;
    clear: both;
}

.columnimage {
    max-width: 100%;
}

/* ----------------------------------------------------------------------------
   Downloads list
   --------------------------------------------------------------------------*/
#downloadlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.split {
    max-width: 3*$column-width+2*$gutter-width;
    min-width: 45%;
    float: left;
}
.download {
    padding: $base-line-height $gutter-width $base-line-height 0;
    list-style-type: none;
    margin: 0;
    height: 2*$base-line-height;
    
    cursor: pointer;
    
    &:hover .os {
        text-decoration: underline;
    }
    
    .package {
        color: grey;
    }
    
    img {
        max-height: 48px;
        max-width: 48px;
        height: 100%;
        width: 100%;
    }
}

/* ----------------------------------------------------------------------------
   Features sidebar
   --------------------------------------------------------------------------*/
#main aside {
    float: right;
    width: $onecolumn - 2 * $gutter-width;   

    h2 {
        margin-top: 0;
        margin-bottom: $base-line-height;
    }
    
    .feature {
        min-height: $sidebar-item-height;
    }
}


.feature {
    padding-bottom: $base-line-height;
    
    img {            
        max-height: $sidebar-item-height;
        max-width: 50%;
        float: left;
        margin-right: $gutter-width;
        
        &.cover {
            max-height: 50%;
        }
    }

    figure {
        display: inline-block;
        width: 100%;
    }

    figcaption {
        font-style: normal;
        text-align: left;
    }
    
    h3 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }

}

/* ----------------------------------------------------------------------------
   Ubunut ppa overlay
   --------------------------------------------------------------------------*/
#instructions, #overlay {
    @include hidden();
}

/* ----------------------------------------------------------------------------
   Dashboard
   --------------------------------------------------------------------------*/
#crowd-dashboard-status-list {
    ul, li {
        list-style-type: none;
        margin-left: 0;
    }

    .offline {
        background-color: rgb(239, 66, 66);
        color: white;

        a {
            &:link, &:visited {
                color: white;
            }
            &:hover {
                color: rgb(240, 240, 240);
            }
        }
    }
}

/* ----------------------------------------------------------------------------
   Footer
   --------------------------------------------------------------------------*/

#ngalemainfooterwrapper footer {
    color: black;
    padding-top: $base-line-height;
    overflow: hidden;
    
    :link,:visited {
        color: black;
        text-decoration: none;
    }
    
    ul {
       margin: 0; 
    }
    
    .socialicon {
        font-family: $icon-font-family;
        
        &:hover {
            text-decoration: none;
        }
    }
}

.footerlinks {
    font-size: $footer-font-size;
    line-height: $footer-line-height;
    float: right;
    width: $column-width;
    
    b {
        margin-bottom: $footer-line-height;
        display: block;
    }
}

#footergale {
    max-height: image-height("footergale.png");
    max-width: image-width("footergale.png");
    width: 100%;
    float: left;
}

#leftfooter {
    float: left;
    max-width: image-width("footergale.png");
    width: 100%;
    
    select {
        margin-top: $footer-line-height;
        font-size: $footer-font-size;
        width: 100%;
    }
}
   
#footerinfo   p {
    margin-top: 0;
    font-size: $footer-font-size;
    line-height: $footer-line-height;
    margin-bottom: $footer-line-height;
    margin-left: px2em(image-width("footergale.png")) + 2*$gutter-width;
}
