/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ==|== primary styles =====================================================
   Author: Martin Giger
   ========================================================================== */
/* General styles */   

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

#page {
	font-size: 15px;
	margin-top: 100px;
	width: 950px;
	margin: 0 auto;
}

a:link {
	text-decoration: none;
	color: #3244E9;
}

a:visited ,a:active,a:hover{
	text-decoration: none;
	color: #505CC9;
}

.button {
	font-size: 12px;
	height: 21px;
	width: 91px;
	margin: 0;
}

.clear {
	clear: both;
}

/* category navigation */

#headtitle ul {
	margin:21px 20px;
}

#headtitle ul li {
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin:0 20px 0 0;
	cursor: pointer;
}

#headtitle a:link, #headtitle a:active, #headtitle a:visited {
	color: white;
	text-decoration: none !important;
}

#headtitle  a:hover, #headtitle .current a {
	color: #ccc !important;
	padding: 0;
}

#headtitle {
	width:100%;
	height: 61px;
	
	border-radius:5px;
	-moz-border-radius:5px;
	
	background: #4e8eb5; /* Old browsers */
	background: -moz-linear-gradient(top, #4e8eb5 0%, #496b8e 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e8eb5), color-stop(100%,#496b8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4e8eb5 0%,#496b8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4e8eb5 0%,#496b8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4e8eb5 0%,#496b8e 100%); /* IE10+ */
	background: linear-gradient(top, #4e8eb5 0%,#496b8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e8eb5', endColorstr='#496b8e',GradientType=0 ); /* IE6-9 */
	
	color: #fff;
	
	padding: 5px 0;
	text-align: center;
	
	margin-bottom: 20px;
	
	box-shadow: 0 0 5px #505050;
	border: none;
}

/* filterbar */

#filterbar {
	margin-top: 20px;
	font-size: 12px;
	height: 22px;
}

.filterlabel {
	padding: 5px 0;
	margin-right: 12px;
	vertical-align: center;
}

.filterselect {
	margin-right: 23px;
	height: 22px;
}

#search {
	margin-left: 9px;
	display: inline;
	height: 22px;
	float: right;
}

#searchfield {
	width: 208px;
	height: 20px;
	padding: 0 5px;
}

#searchbutton {
	margin-left: 10px;
}

/* Addons list */

#addonslist {
	margin-top: 27px;
	
	color: black;
	text-align: left;
	line-height: 1.2em;
	font-size: 12px;
}

#addonslist table {
	width: 100%;
	border: none;
	border-spacing: 0 14px;
}

#addonslist .addon {
	height: 123px;
}

#addonslist .addon td {
	border-spacing: 0 !important;
	padding: 0;
	border: none;
	margin: 0;
	vertical-align: top;
}

#addonslist td:last-child {
	text-align: right;
	width: 70px;
}

#addonslist td:first-child {
	width: 190px;
	padding-right: 70px;
}

#addonslist .addon .img {
	width: 190px;
	height: 123px;
}

/* Small Addons list */

#addonslist-small {
	color: black;
	font-size: 12px;
	padding: 0;
	border: none;
	margin: 0;
	list-style: none;
}

#addonslist-small .addon {
	height: 90px;
}


#addonslist-small li {
	padding: 0;
	border: none;
	margin: 0 0 13px 0;
	vertical-align: top;
	text-align: left;
	list-style: none;
}

#addonslist-small td:last-child {
	width: 100%;
}

#addonslist-small td:first-child {
	width: 90px;
	padding-right: 10px;
}

#addonslist-small .addon .img {
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 24px;
}

/* All Addons lists */

.addon .title {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.addon .category {
	color: gray;
}

.addon .category a:link, .addon .category a:hover, .addon .category a:active, .addon .category a:visited {
	color: gray;
	text-decoration: underline !important;
}

.addon .description {
	margin:10px 0 5px;
	padding:0;
	
	overflow: hidden;
	text-overflow: ellipsis;
	
	height: 50px;
}

.addon .install {
	padding: 5px 50px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #333;
	border: 0px;
	border-radius:5px;
	-moz-border-radius:5px;
}

.addon .install:hover {
	color: #ccc;
}

/* Details page style */

#addondetail h2 {
	margin: 0;
}

.author {
	font-style: italic;
}

#content-left {
	float: left;
	width: 690px;
}

#content-right {
	float: right;
	width: 250px;
}

.details .title {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.details h3.title {
	color: black;
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin: 32px 0 16px 0;
}
.details .info {
	color: gray;
	font-size: 80%;
	font-style: italic;
	margin-bottom: 5px;
}
.details .install {
	width: 100%;
	padding: 10px 0;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: #333;
	border: 0px;
	border-radius:5px;
	-moz-border-radius:5px;
}

.details .install:hover {
	color: #ccc;
}

.detailimages {
	width: 100%;
}

.detailimages #left {
	float: left;
	width: 490px;
}

.detailimages #right {
	float: right;
	width: 200px;
}

.detailimages .button {
	text-align: center;
}

.detailimages #left img,
.detailimages #right img {
	width: 100%;
}

.detailimages #left img {
	height: 397px;
	margin: 0;
}

.detailimages #right img {
	width: 190px;
	height: 123px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 0;
	margin-right: 0;
}

.detailimages #right img:last-child {
	margin-bottom: 0px;
}

/* Comments */

.commentslist table {
	width: 100%;
	border: none;
	border-spacing: 0 14px;
}

.commentslist .comment {
	height: 100px;
}

.commentslist .comment td {
	border-spacing: 0 !important;
	padding: 0;
	border: none;
	margin: 0;
	vertical-align: top;
	text-align: left;
}

.commentslist h4 {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.commentslist td:last-child {
	width: 100%;
}

.commentslist td:first-child {
	width: 100px;
	padding-right: 10px;
}

.commentslist .comment .img {
	width: 100px;
	height: 100px;
}

/* Rating system will be changed completely later */

.addon .rating {
	background-image: url("img/ratings.png");
	background-position: 0px 198px;
	
	height: 18px;
	width: 70px;
}

.onestar {
	background-position: 0px 180px;
}

.twostars {
	background-position: 0px 144px;
}

.threestars {
	background-position: 0px 108px;
}

.fourstars {
	background-position: 0px 72px;
}

.fivestars {
	background-position: 0px 36px;
}
