body {
	font-family:arial,helvetica,freesans,sans-serif;
	line-height:1.25;
	font-size:1.3em;
	color:#333;
	text-align:center;
	margin:2em 0;
	padding:0;
}

#wrap {
	width:23em;
	margin:0 auto;
	text-align:center;
	padding:1em 1em 3em 1em;
}

h1 {
	font-size:2em;
	margin:0.5em 0;
	font-weight:normal;
}
p {
	color:#666;
}
p.link {
	font-size:0.75em;
	border:1px solid #ccc;
    padding:2px 5px 5px 5px;
}
#options {
	margin-top:1.5em;
}
form {
	display:inline;
}
input {
	font-size:0.8em;
	font-weight:bold;
	margin:0 0.5em;
}

/* launch page */
body#launch img {
	margin:1em 0;
}
