/* header& headermenu styles */

#ngalebutton {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 240px;
	cursor: pointer;
	float: right;
	height: 60px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Helvetica,Arial,Sans-Serif;
	line-height: 1.231;
	text-align: left;
}

#menu li:last-child img {
	height: 50px;
	margin: -5px 0 0;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

#menu {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: -183px;
	position: absolute;
	z-index: 5;
	outline: white;
}

#menu li {
	padding: 10px;
	border-bottom: 1px solid black;
	margin: 0;
	height: 40px;
	color: #fff;
	width: 240px;
	background-color: rgb(50,50,50);
}

#menu li a {
	color: #fff;
}

#menu li:hover, .actual {
	background-color: rgb(81,81,81) !important;
}

#menu li a:hover {
	text-decoration: none !important;
}

#menu li:last-child{
	background: rgb(50,50,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(50,50,50,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,50,50,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	border-radius:0 0 5px 5px;
	
	border: none;
}