/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* ==|== primary styles =====================================================
   Author: Martin Giger
   ========================================================================== */
/* General styles */  
body {
	background-image: url('//static.getnightingale.com/img/gradent.png');
	background-repeat:repeat-x;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Helvetica,Arial,Sans-Serif;
}

/* header/nav */

	#ngalemainhead{
		margin-bottom: 1em;
		font-size: 15px;
		line-height: 1.231 !important;
		font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Helvetica,Arial,Sans-Serif;
	}

	#headlogo {
		height: 100px;
		margin-top: .8em;
	}

	/* nav*/
	
	#ngalemainhead nav {
		float: right;
		margin-top: 1em;
	}
	
	#ngalemainhead nav li {
		float: left;
		background-color: #333333;
		list-style: none;
	}
	
	#ngalemainhead nav li a:link, header nav li a:hover, header nav li a:active, header nav li a:visited {
		color: #fff !important;
		text-decoration: none !important;
		background-color: transparent !important;
		display: block;
		padding:.8em;
	}
	
	#ngalemainhead nav li:first-child a,#ngalemainhead nav li:first-child  {
		border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
	}
	
	#ngalemainhead nav li:last-child  a,#ngalemainhead nav li:last-child{
		border-radius:0 5px 5px 0;
		-moz-border-radius:0 5px 5px 0;
	}
	
/*
	#ngalemainhead nav .actual a {
		border-bottom: .4em solid #B55029 !important;
		padding-bottom: .4em !important;
	}
*/
	
	header nav li a:hover {
		border-bottom: .4em solid #fff !important;
		padding-bottom: .4em !important;
	}

/* footer styles */

#ngalemainfooter {
	color: #fff;
	width: 100%;
	background-color: #666;
	z-index: 500;
	margin: 0;
	padding-bottom: 10px;
	font-size: 14px;
	text-align: left;
	line-height: 1.231em !important;
	
	display: block;
	
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Helvetica,Arial,Sans-Serif;
}

#ngalemainfooter b {
	padding-bottom: 5px;
	display: block;
}

#ngalemainfooter a:link, #ngalemainfooter a:visited {
	color: #fff;
	text-decoration: none !important;
	font-weight: normal;
}

#ngalemainfooter #license a:link, #ngalemainfooter #license a :visited {
	text-decoration: underline;
}

#ngalemainfooter a:hover {
	color: #EDEDED;
	text-decoration: underline;
}

#ngalemainfooter a:active {
	color: #ccc;
	text-decoration: underline;
}

#lgradient {
	height: 14px;
	border-top: 2px solid #333333;
	width: 100%;
	
	background: #414141; /* Old browsers */
	background: -moz-linear-gradient(top,  #414141 0%, #373737 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#373737)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #414141 0%,#373737 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #414141 0%,#373737 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414141 0%,#373737 100%); /* IE10+ */
	background: linear-gradient(top,  #414141 0%,#373737 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#373737',GradientType=0 ); /* IE6-9 */
	
	margin-bottom: 10px;
}

#ngalemainfooter img {
	margin-top: 3px;
	margin-right: 5px;
}

#license {
	height: 120px;
}

#ngalemainfooter nav {
	height: 120px;
}

#footerwrapper {
	width: 950px;
	margin: 10px auto;
	list-style: none;
	padding: 0;
}

#footerwrapper li {
	float: left;
	display: block;
	width: 296.6px;
	padding: 0 30px 0 0;
	margin: 0;
}

#double {
	margin: 0;
	padding: 0;
}

#double li {
	float: left;
	width: 133.3px;
}

#double li:first-child {
	padding-right: 30px;
}

#footerwrapper li:last-child {
	padding-right: 0;
}

#outlinedngale {
	float: left;
	display: block;
}

#buttons img {
	float: right;
	cursor: pointer;
	vertical-align: top;
	margin-right: -10px;
	margin-top: -10px;
}

/* Contain floats: h5bp.com/q */ 
.clearfix { list-style-type:none; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* MENU ONLY! */
.menu { list-style-type:none; -webkit-margin-after:0; }


/* nav menu fix */
nav ul, nav ul { list-style: none; list-style-image: none; margin: 0; padding: 0; }