Options -Indexes

# ----------------------------------------------------------------------
# Prevent framing and XSS
# ----------------------------------------------------------------------
<IfModule mod_headers.c>
    Header set X-Frame-Options DENY
    Header set Content-Security-Policy "frame-src 'none'; form-action 'self' http://getnightingale.com; default-src http://static.getnightingale.com; frame-ancestors 'none'"
</IfModule>
