/*!
 * Color definitions
 */

$orange: #B55029; //highlight color
$shadow: #292929;
$grey-text: grey;
$light-text: white;

// Background
$dark-grey: #333333;
$darkish-grey: #414141;

// Content
$content-bg: white;
$text-color: black;

// Download button
$download-start: #343434;
$download-end: #444444;

// Footer
$footer-text: $light-text;
$footer-text-hover: #F0F0F0;
