/*!
 * Debug style sheets for CSS development.
 * Put things like your baseline and Susy grid here.
 */

// Baseline grid (example)
html {
    @include baseline-grid-background($base-line-height, #9df);
}

// Susy column grid (example)
.container {
    @include susy-background-grid();
}
